body{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.contenedorp{
    background-image: url(Img/fondo-login.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedorp_blur{
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(12px); 
    height: 100vh;
    display: flex;
    
}

.login{
    display: flex;
    margin: auto;
    align-self: center;
}

.login_logo{
    height: 300px;
    width: 430px;
    display: flex;
    align-content: center;
    align-self: center;
    flex-direction: column;
    background-color: #f75f5f;
}
.login_logo i{
    padding: 20px;
    align-self: center;
}

.login_logo h2{
    color: #fff;
    padding: 20px;
    align-self: center;
    letter-spacing: 5px;
    font-size: 28px;
}

.logo_formularios input{
    display: none;
    width: 350px;
    margin: 10px 30px;
    font-size: 17px;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.001);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid #f75f5f 1px;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #fff;
    outline: none;
}
.logo_formularios input::placeholder{
    color: rgb(71, 71, 71);
}

.logo_button{
    display: flex;
    justify-content: center;
}

.logo_button input{
    border: solid #f75f5f 2px;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    margin: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.logo_button input:hover{
    background-color: #f75f5f;
    color: #fff;
}
.login_inicio{
    display: flex;
    height: 600px;
    width: 430px;
    align-items: center;
    flex-direction: column;
    background-color: #000;   
}

.login_inicio h2{
    color: #fff;
    padding: 10px;
    padding-top: 80px;
    margin-bottom: 70px;
    letter-spacing: 5px;
    font-size: 28px;
}

.inicio_texto{
    margin: 10px;
    color: #f75f5f;
}

.inicio_texto input{
    margin: 20px;
    width: 300px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.001);
    letter-spacing: 2px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid #f75f5f 1px;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    color: #fff;
    outline: none;
}

.inicio_texto input::placeholder{
    color: rgb(71, 71, 71);
}

.inicio_botones input{
    border: solid #f75f5f 2px;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    margin: 30px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.inicio_botones input:hover{
    background-color: #f75f5f;
    color: #fff;
}

.login_inicio a{
    text-decoration: none;
    color: lightcoral;
    font-style: italic;
}
.login_inicio i{
    padding: 20px;
    display: none;
    align-self: center;
}
.bad{
background-color: rgb(255, 0, 0);
margin: 0;
text-align: center;
color: #fff;
}
.ok{
    background-color: rgb(9, 255, 0);
    margin: 0;
    text-align: center;
    color: #fff;
}